body{
    font-family: 'Indie Flower';
    background-color: #1B2430;
}
h1,h2{
    color:white;
}
p{
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
.links{
    color:white;
    
}
.top-container{
    padding-left: 10px;
    padding-right: 10px;
}
.main-container{
    padding-left: 10px;
}
.header{
    color:#DFF6FF;
    font-size: 35px;
    font-weight: 600;
}
.sub{
    color:#47B5FF;
}
.custom{
     width:30%;
     height: 20%;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 10px;
}
.custom-a{
    width:65%;
     height: 20%;
     padding-left: 10px;
     padding-top: 10px;
     margin-top: 10px;
}
.footer{
    padding-top: 30px;
    text-align: center;
}
